html
  head
    title="MHFU Armor Builder"
    style
      include css/sakura.css
      include css/style.css
      include css/armorstyle.css
      include css/tooltip.css
  body

    form#filter(action="/", method="POST") 
      select#skill1(name="skill1")
        each skill in skillslist
          option(value=skill) #{skill}
      select#skill2(name="skill2")
        each skill in skillslist
          option(value=skill) #{skill}
      select#skill3(name="skill3")
        each skill in skillslist
          option(value=skill) #{skill}
      select#skill4(name="skill4")
        each skill in skillslist
          option(value=skill) #{skill}
      select#skill5(name="skill5")
        each skill in skillslist
          option(value=skill) #{skill}
      br
      select#HunterType(name="huntertype")
        option(selected) Blade/Gunner
        option Blade
        option Gunner

      label(for='maxrarity') 
      input(type='text' name='maxrarity' id='maxrarity' placeholder="Max Rarity")

      br
      //- input(type='button' onclick="sendData()" value="Filter")
      button(type="submit") Filter
      br

    #filteredSelectedGrid
      #Head(class="selectedPiece")
      #Body(class="selectedPiece")
      #Arms(class="selectedPiece")
      #Waist(class="selectedPiece")
      #Legs(class="selectedPiece")

      #requiredItemsGrid(class="items")

      #totalSkillPointsGrid(class="skills")

    .armorSearchGrid
      each armor in armors
        .armorCard
          span(class="materials")
            if armor['Material1'] != ''
              .item1 #{armor['Material1']}
              .amount1 #{armor['Amount1']}
            if armor['Material2'] != ''
              .item2 #{armor['Material2']}
              .amount2 #{armor['Amount2']}
            if armor['Material3'] != '' 
              .item3 #{armor['Material3']}
              .amount3 #{armor['Amount3']}
            if armor['Material4'] != ''
              .item4 #{armor['Material4']}
              .amount4 #{armor['Amount4']} 
          input(class="selectbtn" type="button", value="Equip" onclick="selectArmor("+armor['Id']+",\""+armor['Type']+"\")" )
          
          #titleNameGrid(class="gridN")
            .ico
              case armor['Type']
                when 'Head'
                  img(src="assets/head.png" class="ico")
                when 'Body'
                  img(src="assets/body.png" class="ico")
                when 'Arms'
                  img(src="assets/arms.png" class="ico")
                when 'Waist'
                  img(src="assets/waist.png" class="ico")
                when 'Legs'
                  img(src="assets/legs.png" class="ico")
            .name #{armor['Name']}
          .def #{armor['Defence']}
          .gSlot
            each s, index in armor['Slots']
              if s == "O"
                input(class="slot slot"+parseInt(index+1) type="button", value=s)
              else
                input(class="slot slot"+parseInt(index+1) type="button", value=s disabled)

          .gridW
            -var classToAdd = ""
            if armor['Fire Res'] >= 1
              - classToAdd += "positive "
            else if armor['Fire Res'] < 0
              -classToAdd += "negative"
            .w1 🔥
            div(class="fire "+classToAdd) #{armor['Fire Res']}

            -var index="2"
            -var classToAdd = ""
            if armor['Thunder Res'] >= 1
              - classToAdd += "positive "
            else if armor['Thunder Res'] < 0
              -classToAdd += "negative"
            .w2 ⚡
            div(class="thunder "+classToAdd) #{armor['Thunder Res']}

            -var classToAdd = ""
            if armor['Dragon Res'] >= 1
              - classToAdd += "positive "
            else if armor['Dragon Res'] < 0
              -classToAdd += "negative"
            .w3 🐉
            div(class="dragon "+classToAdd) #{armor['Dragon Res']}

            -var classToAdd = ""
            if armor['Water Res'] >= 1
              - classToAdd += "positive "
            else if armor['Water Res'] < 0
              -classToAdd += "negative"
            .w4 💧
            div(class="water "+classToAdd) #{armor['Water Res']}

            -var classToAdd = ""
            if armor['Ice Res'] >= 1
              - classToAdd += "positive "
            else if armor['Ice Res'] < 0
              -classToAdd += "negative"
            .w5 🧊
            div(class="ice "+classToAdd) #{armor['Ice Res']}

          .border
          .gridS
            - var index="1"
            div(class="sn"+index) #{armor['Skill1']}
            - var classToAdd = "sv"+index+" "
            if armor['SkillPoint1'] > 0
              - classToAdd += "positive "
            else
              - classToAdd += "negative "
            p(class=classToAdd) #{armor['SkillPoint1']}

            - var index="2"
            p(class="sn"+index) #{armor['Skill2']}
            - var classToAdd = "sv"+index+" "
            if armor['SkillPoint2'] > 0
              - classToAdd += "positive "
            else
              - classToAdd += "negative "
            p(class=classToAdd) #{armor['SkillPoint2']}

            - var index="3"
            p(class="sn"+index) #{armor['Skill3']}
            - var classToAdd = "sv"+index+" "
            if armor['SkillPoint3'] > 0
              - classToAdd += "positive "
            else
              - classToAdd += "negative "
            p(class=classToAdd) #{armor['SkillPoint3']}

            - var index="4"
            p(class="sn"+index) #{armor['Skill4']}
            - var classToAdd = "sv"+index+" "
            if armor['SkillPoint4'] > 0
              - classToAdd += "positive "
            else
              - classToAdd += "negative "
            p(class=classToAdd) #{armor['SkillPoint4']}

            - var index="5"
            p(class="sn"+index) #{armor['Skill5']}
            - var classToAdd = "sv"+index+" "
            if armor['SkillPoint5'] > 0
              - classToAdd += "positive "
            else
              - classToAdd += "negative "
            p(class=classToAdd) #{armor['SkillPoint5']}
    
    include scripts/elementHandler.js.pug
    include scripts/sessionstorage.js.pug
    include scripts/xhttp.js.pug
    include scripts/main.js.pug
