script.

    function newCustomElement({tagName='div', textNode='', attributes={}, classes=[], children=[]} = {}) {
        let customElement = document.createElement(tagName)
        Object.keys(attributes).forEach(attr => {
            customElement.setAttribute(attr, attributes[attr])
        })
        customElement.classList.add(...classes)
        
        let innerval = document.createTextNode(textNode)
        customElement.appendChild(innerval)

        children.forEach(child => {
            customElement.appendChild(newCustomElement(
                {tagName:child.tagName, textNode: child.textNode, attributes:child.attributes, classes:child.classes, children:child.children}))
            return customElement
        })

        return customElement
    }
