script.

  function selectArmor(id, type) {
    Object.keys(selectedArmors).forEach( key => {
      if (key == type) {
        selectedArmors[key] = filteredArmors.find(armor => armor['Id'] == id)
        //- document.getElementById(key).innerHTML = selectedArmors[key].Name
      }
    })
    calculateItems()
    calculateSkills()
    saveStorage()
    clearFields()
    drawSelectedArmors()
  }

  function calculateItems() {
    requiredItems={}
    Object.keys(selectedArmors).forEach( armorType => {
      if (selectedArmors[armorType].Name != undefined) {
        for (let i of [1,2,3,4]) {
          if ( requiredItems.hasOwnProperty(selectedArmors[armorType][`Material${i}`]) )
            requiredItems[selectedArmors[armorType][`Material${i}`]] += parseInt(selectedArmors[armorType][`Amount${i}`])
        }
        for (let i of [1,2,3,4])
          if (selectedArmors[armorType][`Material${i}`] != "" && !requiredItems.hasOwnProperty(selectedArmors[armorType][`Material${i}`]) )
            requiredItems[selectedArmors[armorType][`Material${i}`]] = parseInt(selectedArmors[armorType][`Amount${i}`] ) 
      }
    })
  }

  function calculateSkills() {
    totalSkillPoints={}
    Object.keys(selectedArmors).forEach( armorType => {
      if (selectedArmors[armorType].Name != undefined) {
        for (let i of [1,2,3,4,5]) {
          if ( totalSkillPoints.hasOwnProperty(selectedArmors[armorType][`Skill${i}`]) )
            totalSkillPoints[selectedArmors[armorType][`Skill${i}`]] += parseInt(selectedArmors[armorType][`SkillPoint${i}`])
        }
        for (let i of [1,2,3,4,5])
          if (selectedArmors[armorType][`Skill${i}`] != "" && !totalSkillPoints.hasOwnProperty(selectedArmors[armorType][`Skill${i}`]) )
            totalSkillPoints[selectedArmors[armorType][`Skill${i}`]] = parseInt(selectedArmors[armorType][`SkillPoint${i}`] ) 
      }
    })
  }