script.
    var filteredArmors = []
    var selectedArmors = JSON.parse(sessionStorage.getItem('selectedArmors') ) || {"Head": {}, "Body": {}, "Arms": {}, "Waist": {}, "Legs": {}}
    var requiredItems = JSON.parse(sessionStorage.getItem('requiredItems') ) || {}
    var totalSkillPoints = JSON.parse(sessionStorage.getItem('totalSkillPoints') ) || {}

    function saveStorage() {
        sessionStorage.setItem('selectedArmors', JSON.stringify(selectedArmors))
        sessionStorage.setItem('requiredItems', JSON.stringify(requiredItems))
        sessionStorage.setItem('totalSkillPoints', JSON.stringify(totalSkillPoints))
    }