script.

  var xhttp = new XMLHttpRequest()
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200)
      filteredArmors = JSON.parse(xhttp.responseText)
  }
  xhttp.open("GET", "data", true)
  xhttp.send()

  //Draw armors + items required
  function drawSelectedArmors() {
    clearFields()

    //populate armor fields
    Object.keys(selectedArmors).forEach(type => {
      if (selectedArmors[type].Name != undefined ) {
        document.getElementById(type).appendChild(newCustomElement(
          {tagName: 'div', classes: ['armorCard'], children: [
            {tagName: 'div', attributes: {id: 'titleNameGrid'}, classes: ['gridN'], children: [
              {tagName: 'div', classes: ['ico'], children: [
                {tagName: 'img', attributes: {src: `assets/${type.toLowerCase()}.png`}, classes: ['ico']}
              ]},
              {tagName: 'div', textNode: selectedArmors[type].Name, classes: ['name']},
            ]},
            {tagName: 'div', textNode: selectedArmors[type].Defence, classes: ['def']},
            {tagName: 'div', classes: ['gSlot'], children: [
              {tagName: 'input', attributes: {type: 'button', value: `${selectedArmors[type].Slots[0]}`, ...selectedArmors[type].Slots[0] != 'O' && {disabled: true} }, classes: ['slot', 'slot1']},
              {tagName: 'input', attributes: {type: 'button', value: `${selectedArmors[type].Slots[1]}`, ...selectedArmors[type].Slots[1] != 'O' && {disabled: true} }, classes: ['slot', 'slot2']},
              {tagName: 'input', attributes: {type: 'button', value: `${selectedArmors[type].Slots[2]}`, ...selectedArmors[type].Slots[2] != 'O' && {disabled: true} }, classes: ['slot', 'slot3']},
            ]},
            {tagName: 'div', classes: ['gridW'], children: [
              {tagName: 'div', textNode: '🔥', classes: ['w1']},
              {tagName: 'div', textNode: selectedArmors[type]['Fire Res'], classes: ['fire', (selectedArmors[type]['Fire Res']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['Fire Res']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: '⚡', classes: ['w2']},
              {tagName: 'div', textNode: selectedArmors[type]['Thunder Res'], classes: ['thunder', (selectedArmors[type]['Thunder Res']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['Thunder Res']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: '🐉', classes: ['w3']},
              {tagName: 'div', textNode: selectedArmors[type]['Dragon Res'], classes: ['dragon', (selectedArmors[type]['Dragon Res']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['Dragon Res']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: '💧', classes: ['w4']},
              {tagName: 'div', textNode: selectedArmors[type]['Water Res'], classes: ['water', (selectedArmors[type]['Water Res']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['Water Res']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: '🧊', classes: ['w5']},
              {tagName: 'div', textNode: selectedArmors[type]['Ice Res'], classes: ['ice', (selectedArmors[type]['Ice Res']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['Ice Res']) < 0 ? 'negative':'.']}
            ]},
            {tagName: 'div', classes: ['border']},
            {tagName: 'div', classes: ['gridS'], children: [
              {tagName: 'div', textNode: selectedArmors[type]['Skill1'], classes: ['sn1']},
              {tagName: 'div', textNode: selectedArmors[type]['SkillPoint1'], classes: ['sv1', (selectedArmors[type]['SkillPoint1']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['SkillPoint1']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: selectedArmors[type]['Skill2'], classes: ['sn2']},
              {tagName: 'div', textNode: selectedArmors[type]['SkillPoint2'], classes: ['sv2', (selectedArmors[type]['SkillPoint2']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['SkillPoint2']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: selectedArmors[type]['Skill3'], classes: ['sn3']},
              {tagName: 'div', textNode: selectedArmors[type]['SkillPoint3'], classes: ['sv3', (selectedArmors[type]['SkillPoint3']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['SkillPoint3']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: selectedArmors[type]['Skill4'], classes: ['sn4']},
              {tagName: 'div', textNode: selectedArmors[type]['SkillPoint4'], classes: ['sv4', (selectedArmors[type]['SkillPoint4']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['SkillPoint4']) < 0 ? 'negative':'.']},
              {tagName: 'div', textNode: selectedArmors[type]['Skill5'], classes: ['sn5']},
              {tagName: 'div', textNode: selectedArmors[type]['SkillPoint5'], classes: ['sv5', (selectedArmors[type]['SkillPoint5']) >= 1 ? 'positive':'.' ,(selectedArmors[type]['SkillPoint5']) < 0 ? 'negative':'.']},
            ]}
          ]}
          )
        )
      }
    })

    //populate items fields
    document.getElementById("requiredItemsGrid").innerHTML = ''
    Object.keys(requiredItems).forEach(item => {
      document.getElementById('requiredItemsGrid').appendChild(
        newCustomElement(
          {tagName: 'div', textNode: `${item}  x ${requiredItems[item]}`}
        )
      )
    })

    //populate skills fields
    document.getElementById('totalSkillPointsGrid').innerHTML = ''
    Object.keys(totalSkillPoints).forEach(skill => {
      document.getElementById('totalSkillPointsGrid').appendChild(
        newCustomElement(
          {tagName: 'div', textNode: `${skill} ${totalSkillPoints[skill] >0 ? '+' : ''} ${totalSkillPoints[skill]}`}
        )
      )
    })
  }

  function clearFields() {
    let l = document.getElementsByClassName('selectedPiece')
    for (let tag of l) {
      tag.innerText = ''
    }
  }

  drawSelectedArmors()