.armorCard {
    border: 5px solid gray;
    border-radius: 10px;
    background-color: lightgray;
    
    display: grid;
    gap: 10px;
    /* grid-template-columns: minmax(10px, auto)  10px minmax(10px, auto) minmax(10px, auto) minmax(10px, auto) minmax(10px, auto); */
    grid-template-areas: 
    "btn      .        gridN     gridN     gridN       gridN       gridN      gridN"
    "def      def      def       def       def         border      gridS      ."
    "gSlot    gSlot    gSlot     gSlot     gSlot       border      gridS      ."
    ".        .        .         .         .           border      gridS      ."
    "gridW    gridW    gridW     gridW     gridW       border      gridS      ."
    "space    space    space     space     space       space       space      space";
}
.armorCard * {
    text-align: center;
    align-items: center;
    align-content: center;
    place-content: center;
    place-items: center;
}
.armorCard::after {
    grid-area: space;
    content: ' ';
    height: 1ch;
}
.border {
    grid-area: border;
    width: 1px;
    border-left: 1px solid black;
}


.selectbtn {
    grid-area: btn;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 20px;
    /* margin-left: 5px;
    margin-right: 30px; */
}


#titleNameGrid {
    grid-area: gridN;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "name .   ico";

    width: 100%;
    background-color: gray;
    color: white;
    border-bottom-left-radius: 20px;
    place-content: center;
}
.name {
    grid-area: name;
    font-weight: bolder;
    padding-left: 20px;
}
.ico {
    grid-area: ico;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    z-index: 1;
}


.gSlot {
    grid-area: gSlot;
    display: grid;

    grid-template-columns: minmax(auto, 4ch) minmax(auto, 4ch) minmax(auto, 4ch);
    grid-template-areas:
    "slot1   slot2   slot3";
}
.slot1 { grid-area: slot1; }
.slot2 { grid-area: slot2; }
.slot3 { grid-area: slot3; }
.slot {
    border: 1px lightgrey;
    border-radius: 50%;
    height:25px;
    margin: 5px;
}


.gridW {
    grid-area: gridW;
    display: grid;

    gap: 10px;
    grid-template-columns: 3ch 3ch 3ch 3ch 3ch;
    grid-template-areas: 
    "w1       w2         w3        w4       w5   "
    "fire     thunder    dragon    water    ice  ";
}
.def { grid-area: def; }
.w1 { grid-area: w1;}
.w2 { grid-area: w2;}
.w3 { grid-area: w3;}
.w4 { grid-area: w4;}
.w5 { grid-area: w5;}
.fire { grid-area: fire;}
.thunder { grid-area: thunder;}
.dragon { grid-area: dragon;}
.water { grid-area: water;}
.ice { grid-area: ice;}


.gridS {
    grid-area: gridS;
    display: grid;

    place-items: start;

    gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas:
    "sn1   .  sv1"
    "sn2   .  sv2"
    "sn3   .  sv3"
    "sn4   .  sv4"
    "sn5   .  sv5"
}
/* .sn1, .sn2, .sn3, .sn4, .sn5 { text-align: left; }*/
.sn1 { grid-area: sn1; }
.sn2 { grid-area: sn2; }
.sn3 { grid-area: sn3; }
.sn4 { grid-area: sn4; }
.sn5 { grid-area: sn5; }

.sv1 { grid-area: sv1; }
.sv2 { grid-area: sv2; }
.sv3 { grid-area: sv3; }
.sv4 { grid-area: sv4; }
.sv5 { grid-area: sv5; }