* {
    box-sizing: border-box;
    white-space: nowrap;
    padding:0;
    margin: 0;
}
.rarity4 { color: green; }
.rarity5 { color: purple; }
.positive::before {
    content: '+';
}
.positive {
    color: green;
    font-style: italic;
}
.negative {
    color: red;
    font-style: italic;
}
.gender {
    font-size: smaller;
    text-align: left;
}

/* #totalSkillPointsGrid {
    display: grid;
    row-gap: 20px;
    column-gap: 70px;
    margin: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(250, auto) minmax(250, auto) minmax(250, auto) minmax(250, auto) minmax(250, auto);
    grid-template-areas:
    "Head items"
    "Body items"
    "Arms items"
    "Waist items"
    "Legs items";
} */


#filteredSelectedGrid {
    display: grid;
    row-gap: 20px;
    column-gap: 70px;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(250, auto) minmax(250, auto) minmax(250, auto) minmax(250, auto) minmax(250, auto);
    grid-template-areas:
    "Head  skills items "
    "Body  skills items "
    "Arms  skills items "
    "Waist skills items "
    "Legs  skills items ";
}
.Head{ grid-area: Head;}
.Body{ grid-area: Body;}
.Arms{ grid-area: Arms;}
.Waist{ grid-area: Waist;}
.Legs{ grid-area: Legs;}
.items{ grid-area: items;}
.skills { grid-area: skills;}

.armorSearchGrid {
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto) );
}