.armorCard .materials {
    visibility: hidden;
    grid-area: materials;
    
    position: absolute;
    margin-top: 45px;
    margin-left: 20px;

    place-content: start;
    place-items: start;
    /* right: 100px; */

    z-index: 10;
    padding: 10px;
    border-radius: 6px;

    background-color: black;
    color: #fff;

    display: grid;
    gap: 10px;
    grid-template-areas: "item1 amount1"
                         "item2 amount2"
                         "item3 amount3"
                         "item4 amount4";
}

.armorCard:hover .materials {
    visibility: visible;
}

.armorCard .materials * {
    /* text-align: center; */
    align-items: center;
    align-content: center;
}
.item1, .item2, .item3, .item4 {
    text-align: left;
}
.amount1, .amount2, .amount3, .amount4 {
    text-align: right;
}
.amount1::before, .amount2::before, .amount3::before, .amount4::before {
    content: 'x ';
}